:root{
  --blue:#2980b9;
  --black:#333;
  --white:#fff;
  --light-color:#777;
  --light-bg:#eee;
  --box-shadow:0 5px 10px rgba(0,0,0,.1);
}

*{
  font-family: sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 5px;
  color: var(--white);
  background: var(--blue);
  font-size: 17px;
  box-shadow: var(--box-shadow);
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: var(--blue);
}

html::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 50px;
}

.container {
  display: flex;
  padding: 100px 9%;
  background: linear-gradient(45deg,deeppink,var(--blue));
}


.profile {
  flex: 1 1 400px;
  background: var(--white);
  padding: 20px 30px;
  text-align: center;
  position: sticky;
  top: 20px;
  left: 0;
  border-right: 2px solid var(--black);
  align-self: flex-start;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--black);
  margin-bottom: 10px;
}

.profile h3 {
  font-size: 20px;
}

.profile p {
  padding: 5px 0;
  font-size: 15px;
  color: var(--blue);
}

.profile .share {
  margin: 10px 0;
}

.profile .share .fab {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: var(--black);
  background: var(--light-bg);
  border-radius: 50%;
}

.profile .share .fab:hover {
  color: var(--white);
  background: var(--blue);
}


.information {
  flex: 1 1 1000px;
  min-height: 1000px;
  padding: 20px 30px;
  background: var(--white);
}

.title {
  font-size: 25px;
  color: var(--blue);
  margin-bottom: 15px;
}

.information > * {
  margin-bottom: 30px;
}

.about p {
  font-size: 17px;
  /* 定义一个块元素首行文本内容之前的缩进量。 */
  text-indent: 2em; 
  line-height: 2;
  color: var(--light-color);
  margin-bottom: 10px;
}

.info-box {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 1 1 200px;
}

.box-item {
  margin: 10px 0;
}

.box-item .label {
  font-weight: bold;
  color: var(--light-color);
}

.box-item .value {
  font-weight: bold;
  color: var(--black);
}

.service-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.service-box-item {
  flex: 1 1 17px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  color: var(--light-color);
  background: var(--light-bg);
}

.service-box-item img {
  margin-bottom: 10px;
  height: 50px;
}

.service-box-item h3 {
  font-size: 15px;
}

.skill-box-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.skills-box {
  flex: 1;
}

.skills-box h3 {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.skills-box span {
  color: var(--light-color);
}

.skills-box-item {
  margin-bottom: 10px;
}

.skills-box-item .progress {
  height: 10px;
  border-radius: 50px;
  background: var(--light-color);
}

.skills-box-item .progress span {
  display: block;
  height: 100%;
  border-radius: inherit;
  background: var(--blue);
}

.skills-box:first-child .skills-box-item:nth-child(1)  .progress span {
  width: 95%;
}

.skills-box:first-child .skills-box-item:nth-child(2)  .progress span {
  width: 80%;
}

.skills-box:last-child .skills-box-item:nth-child(1)  .progress span {
  width: 80%;
}

.skills-box:last-child .skills-box-item:nth-child(2)  .progress span {
  width: 95%;
}

.honor-item i{
  font-size: 10px;
  color: var(--blue);
}

.honor-item span {
  font-size: 16px;
  color: var(--light-color);
}

.link {
  position: relative;
  text-transform: none;
}

.link:after {
  content: '';
  position: absolute;
  top: 66%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  /* z-index: -1; */
  background: linear-gradient(45deg,rgba(255, 20, 147, 0.5),rgba(41, 128, 185, 0.5));
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
}

.link:hover::after {
  top: 20%
}